In [ ]:
import pandas as pd

In [32]:
tweet_ids = [101,102,103,104,105,107,107]
tweet_users = [1,2,3,4,5,6,7]
users = [1,1,2,2,3,3]
followers = [2,3,4,5,6,7]

tweet_dict = {k:v for k,v in zip(tweet_users,tweet_ids)}
df = pd.DataFrame({'users': users,
                    'followers': followers})

In [33]:
tweet_dict

{1: 101, 2: 102, 3: 103, 4: 104, 5: 105, 6: 107, 7: 107}

In [34]:
df

   users  followers
0      1          2
1      1          3
2      2          4
3      2          5
4      3          6
5      3          7

In [59]:
def replace_with_tweet_id(val):
    return [tweet_dict[val[0]],tweet_dict[val[1]]]

In [60]:
df2.apply(replace_with_tweet_id, axis=1)

0    [101, 102]
1    [101, 103]
2    [102, 104]
3    [102, 105]
4    [103, 107]
5    [103, 107]
dtype: object

In [61]:
df2

   users  followers
0      1          2
1      1          3
2      2          4
3      2          5
4      3          6
5      3          7